 {CheckOptions: [ {key: xilinx-tb31-process.TopFunctionName, value: 'Blowfish_Encrypt_Decrypt_SetKey'}, {key: xilinx-tb31-process.KeepTopName, value: '1'},
{key: xilinx-tb31-process.NewFlow, value: '1'}, {key: xilinx-tb31-process.BCSim, value: '0'} ] } 
